/* Start Body */
  body {
      background-color: black;
      color: white;
  }
  
  /* End Body */

  /* Start Logo */
  .logo {
          text-align: center;       
  }
  /* end logo */

.huhuy {
  text-align: center;  
}

.sulis {
 text-align: center;
}
. {
  text-align: center;
}
/*menu primer*/
.menu-primer ul{
color: chartreuse;
text-align: center;
background-color: red;
border-radius: 4px;
box-shadow: 
    0 3px 5px -1px rgba(red, green, blue, alpha),
    0 6px 10px -1px rgba(red, green, blue, alpha),
    0 3px 5px -1px rgba(red, green, blue, alpha)
}
.menu-primer li{
  border-right: 0px solid #333333;
  display: inline-block;
  margin: 5px 5px;
}

.menu-primer a {
  color: white;
  font-size: 13px;
  display: inline-block;
  letter-spacing: 3px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.menu-primer a:hover {
  background-color: black;
  color: wheat;
  text-decoration: none;
}

.menu-primer .active {
  background-color: black;
  color: white;
  text-decoration: none;
}
/* end menu primer*/

/* start pic */
.pic li {
  display: inline-block;
}
/* end pic */

.mr {
  text-align: center;
}

.tn {
  text-align: center;
}

.ni {
  text-align: center;
}

.sm {
  text-align: center;
}

.sulis {
  text-align: center;
}